<%- include ("partials/header") %>

<div class="ui main text container">
    <div class="ui huge header">
        <h1>All Posts</h1>
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% posts.forEach((post) => { %>
                <div class="item">
                    <div class="image">
                        <img src="<%= post.image %>" alt="Blog post image">
                    </div>

                    <div class="content">
                        <a class="header" href='/posts/<%=post._id%>'><%= post.title %></h2>
                            <div class="meta">
                                <span><%= post.createdAt.toDateString() %></span>
                            </div>

                            <div class="description">
                                <p><%- post.body.substring(0, 100) %>...</p>
                            </div>

                            <div class="extra">
                                <a class="ui floated basic primary button" href="/posts/<%=post._id%>">
                                    Read more
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                    </div>

                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>